./our_tests/runs
./pico_aes_soc/src/our_runs/run1/pico_aes.odb
./pico_aes_soc/src/our_runs/run1/picosoc_final.odb
./pico_aes_soc/src/our_runs/run1/trial_db.odb

./pico_aes_soc/src/our_runs/run2/2_floorplan.odb

./pico_aes_soc/src/our_runs/run2/3_pins.odb

./pico_aes_soc/src/our_runs/run2/4_pdn.odb

./pico_aes_soc/src/our_runs/run2/5_placement.odb

./pico_aes_soc/src/our_runs/run2/6_cts.odb

./pico_aes_soc/src/our_runs/run2/6_timing_antenna_optimized.odb

./pico_aes_soc/src/our_runs/run2/7_routed.odb

./pico_aes_soc/src/our_runs/run2/9_final.odb

